body{
    font-family: sans-serif;
    /* background-color: ;  */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    background-color: skyblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(198, 193, 193, 0.1 );
    max-width: 400px;
    width: 100%;
}
.container:hover{
    box-shadow: 5px 5px 2px rgba(0,0, 0, 0.1 );
}
h1{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;

}
.form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form {
    margin: 10px;
}
.form input{
    width: 95%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid green;
    border-radius: 10px;

}
.result{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.calc{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bolder;   
    border-radius: 10px;
    cursor: pointer;
}
.calc:hover{
    background-color: blueviolet;
}